@media only screen and (max-width:759px ) {
.mine{
	display: none;
}
.slide-wrapper{
	font-size: 10px;
}
.top{
	display: none;
}
}
@media only screen and (max-width:768px ) {
.category-one{
	display: none;
}
.show-search2{
	display: none;
}

.mynavbar input{
	display: none;
}
.keep{
	display: none;
}
.cart{
	margin-top: -22px;
	/*margin-left: 5px;*/
}
.car{
	display: none;
}
.myform{
	padding: 0 !important;
}
.show-div1{
	height: 47px !important;
}
.search-text input[type=submit]{
	background-size: 50px!important;
	width: 50px;
	height: 47px;
}
.carstar-logo{
	margin-left: 10px;
	margin-right: 30px;
}
}
/*END*/
@media only screen and (min-width:769px ) {
.mynavbar{
	width: 90%;
	margin: 0 7%;
}	
.mynavbar input{
	height: 55px;
	width: 50%;
	margin-left: 15px;
	cursor: pointer;
	border: 1px solid #a1a1a1;
}
.myform{
	font-size: 0px;
	margin-top: 10px;
}
.icon-search{
	padding-top: 40px;
	padding-left:20px ;
}
.carstar-logo{
	margin-left: 20px;
}
}
/*END*/
li{
	cursor: pointer;
}
.category-one ul li{
	margin: 0 8px;
	font-size: 16px;
	cursor: pointer;
}
.category-one ul li:hover{
	background-color: #FFFFFF !important;
}
.category-one ul li a span:hover{
	color: #f4bf46;
}
span a p{
	color: #666666;
}

/*清楚a标签之间的间隔*/



/*********弹出层*********/
/*最外层*/
.show-search{
	position:absolute;
	width: 100%;
	height: 100%;
	left:0px;
	top:0px;
	padding-top: 5%;
	/*padding-left: 15%;*/
	background: rgba(0,0,0, 0.75);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf000000, endColorstr=#bf000000);
	display: none;
	z-index: 99999;
}
.search-text{
	position: absolute;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}
.show-div1{
	position: relative;
	height: 65px;
	width: 80%;
	margin-left: 15px;
	cursor: pointer;
	border: 1px solid #a1a1a1;
	border-radius:2px 0 0 2px;
}
.myform{
	padding-right:40px ;
}
.myform img{
	vertical-align: middle;
	cursor: pointer;
}
.myform>.icon-search1{
	background: #5c6675 url(../svg/search-white.svg) no-repeat 50% 50%;
    background-size: 50px;
    border: 0;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-size: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 48px;
    height: 55px;
    width: 60px;
    z-index: 1;
    -webkit-appearance: none;
}

.myform>.icon-search2{
	background: transparent url(../svg/search-black.svg) no-repeat 50% 50%;
    background-size: 45px;
    border: 0;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-size: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 17px;
    /*left: 10px;*/
    height: 36px;
    width: 50px;
    z-index: 1;
    -webkit-appearance: none;
}
.icon-cart1{
	background: transparent url(../svg/cart.svg) no-repeat 50% 50%;
    background-size: 45px;
    height: 36px;
    width: 50px;
    font-size: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 57px;
    /*left: 10px;*/
    height: 36px;
    width: 50px;
    z-index: 1;
    -webkit-appearance: none;
}
.icon-cart2{
	background: transparent url(../svg/cart.svg) no-repeat 50% 50%;
    background-size: 45px;
    height: 36px;
    width: 50px;
    font-size: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 17px;
    left: 80%;
    height: 36px;
    width: 50px;
    z-index: 1;
    -webkit-appearance: none;
}
.myform ul{
	float: right;
	list-style: none;
	padding-top: 22px;
	margin-left: -30px;
}
.myform ul>li{
	display: inline-block;
	text-decoration: none;
}
.myform ul>li>a{
	margin-right: 5px;
}
.show-div2{
	display: inline-block;
	height: 55px;
	width: 70px;
	background-color: #4B5160;
	padding-top: 2px;
	padding-left: 6px;
	border: 1px solid #5E5E5E;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
}
.category-one{
	margin: 0 auto;
	margin-top: 0px;
	width: 100%;
	font-size: 11px;
}
.prod_dd_li{
	border-bottom: 1px dashed #ADADAD;
}
.prod_dd_img {
	float: left;
}
.prod_dd_span{
	padding-left: 10px;
	float: left;
	padding-top: 10px;
	color: #666;
}
.prod_dd_t{
	color: #383838;	
	font-weight: 700;
	font-size: 13px;
	padding-bottom: 4px;
}
.nav-category{
	font-size: 1.66rem;
	margin-left: 20%;
}
.tab-content{
	margin-top: 20px;
	padding: 0 4%;
}
.left-drop{
	display: none;
}
.left-drop li{
	margin: 20px 0;
}
.left-minedrop{
	display: none;
}
.left-drop > .left-active > .left-dd-cont{
	background-color: #fff;
	width: 70%;
	border-bottom: none;
	display: block;
	left: 55px;
	position: absolute;
	right: 0x
	top:100%;
	z-index: 10001;
}


.nav-personal{
	display: none;
	margin-top: -10px;
	padding: 0px 10px;
	position: absolute;
	background-color: #F1F1F1;
	z-index: 9997;
	border: 1px solid #858689;
	width: 20%;
	height: 260px;
}
.log-out{
	cursor: pointer;
	padding: 7px 0px;
}
.nav-personal .row{
	
}
.nav-garage{
	display: none;
	margin-top: -10px;
	position: absolute;
	background-color: #F1F1F1;
	z-index: 9998;
	border: 1px solid #858689;
	width: 20%;
	height: 200px;
}
.nav-garage .row{
	color: #666666;
	padding-left: 20px;
	margin-top: 10px;
}
.nav-collection{
	display: none;
	margin-top: -10px;
	padding: 10px 0px;
	position: absolute;
	background-color: #F1F1F1;
	z-index: 9999;
	border: 1px solid #858689;
	width: 20%;
	height: 200px;
}
.nav-collection .row{
	margin-left: 5px;
	margin-top: 10px;
}
.nav-collection .row span{
	color: #666;
}
.glyphicon-menu-down{
	color: #999999;
	font-size: 18px;
	margin-left: 160px;
}
.glyphicon-menu-up{
	color: #999999;
	font-size: 18px;
	margin-left: 160px;
}
.glyphicon-menu-right{
	color: #999999;
	font-size: 18px;
	margin-left: 160px;
}
.glyphicon-phone-alt{
	color: #333333;
	font-size: 2rem;
}
.glyphicon-remove{
	color: #666666;
	font-size: 2.5rem;
	margin: 15px;
	font-weight: 200;
}
svg{
	display: inline-block;
	margin-top: 3px;
	fill: #333333;
}
