		
.container{
	margin: 30px auto;
}
.name-id{
	font-size:medium;
	vertical-align: middle;
	/*vertical-align: -webkit;*/
	margin-left:5px ;
}

.row-content{
	background-color: #F1F1F1;
	padding-top: 12px;
}
/*div[class^="col-md"]{
	vertical-align: middle;
}*/

/***********personal.html*******************/
.discount-yes{
	display: none;
	cursor: pointer;
}
.discount-no{
	cursor: pointer;
}
.new-address{
	margin-top: 30px;
	width: 100%;
	display: none;
	z-index: 2;
}
.address-detail{
	width: 100%;
	height: 80px;
}
.cancel-address{
	display: inline;
}
.address-receive{
	margin-top:10px;
	border-bottom: 1px solid #767676;
}

/***************personal_oreder.html************************/
.col-md-1 img{
	/*display: block;*/
}
#order-greenround{
	background-color: #008C3A;
	margin: 0 auto;
	width: 14px;
	height: 14px;
	border-radius: 7px;
}
.order-addship{
	display: none;
	}
.order-comment-content{
	display: none;
	width: 100%;
	border: 1px solid #666666;
}	

/**/
.ship_detail{
	padding: 60px;
	border: 1px solid #c1c1c1;
}
.ship_detail_msg{
	border-bottom: 1px solid #C1C1C1;
}
.ship_signin4{
	background: url(../svg/ship_signin.svg) repeat scroll top left;
    background-size: 80px;
    border: 0;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-size: 0;
    height: 80px;
    outline: 0;
    width: 80px;
    -webkit-appearance: none;
}

.ship_detail_img p{
	font-size: 1.8rem;
	margin:20px 0px;
	text-align: center;
}

.ship_orderInfo{
	border-top: 1px solid #C1C1C1;
}
.ship_shipInfo{
	padding: 30px 15px;
}
.label{
	color: #333 !important;
}
.order-row{
	margin: 5px;
}
.order-row span{
	margin-right: 20px;
}

/*行间距*/
.row_spacing{
	padding: 10px;
}
/*转化为行内元素*/
.display_inline{
	display: inline;
}